@import url("//weloveiconfonts.com/api/?family=brandico");

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}


$color-black: #1d201e;
$color-white: #f6f6f6;

$color-red: #FF5253;
$color-blue: #50aad0;
$color-green: #48dc8e;
$color-yellow: #fcee08;

a{
  touch-action: none;
}

html{
  background: $color-black;
}

html,
body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body{
  font-size: 22px;
  font-family: "adobe-text-pro", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.loader{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: $color-white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 11;
  text-align: center;
  &.out{
    transition: opacity 400ms, visibility 1ms 800ms;
    opacity: 0;
    visibility: hidden;
  }
  .container{
    width: 100%;
    align-self: flex-start;
  }
  .loader--circle-container{
    width: calc(100% - 200px);
    position: relative;
    bottom: 100px;
  }
  .loader--circle{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    animation: pulse 2s infinite alternate-reverse;
    // background: $color-blue;
    display: inline-block;
    display: inline-flex;
    align-items: center;
    // border: 2px solid #fff;
    position: absolute;
    div{
      width: 100%;
    }
    #flask{
      position: absolute;
      width: 100%;
      left: 0;
      top: -30px;
    }
    #flask--potion{
      fill: $color-blue;
    }

    &:after,&:before{
      content:'';
      border: 4px solid #fff;
      border-top: 4px solid $color-blue;
      position: absolute;
      display: block;
      border-radius: 100%;
      width: 140%;
      height: 140%;
      left: -20%;
      top: -20%;
      animation: rotate 2s infinite reverse ease-in-out;
      @keyframes rotate {
        100%{
          transform: rotate(360deg);
        }
      }
    }
    &:before{
      width: 120%;
      height: 120%;
      left: calc(-10% - 5px);
      top: calc(-10% - 5px);
      animation-direction: normal;
      border-width: 10px;
      border-top-color: $color-blue;
      animation-duration: 2.5s;
      animation-timing-function: linear;
    }

    @keyframes pulse {
      0%{
        transform: scale(0.9);
        // opacity: 0;
      }
      50%{
        transform: scale(1);
        opacity: 1;
      }
      100%{
        transform: scale(1.12);
        // opacity: 0;
        // background: #fff;
        // border-color: $color-green;

      }
    }
  }
  .loader--text{
    display: block;
    width: 100%;
    position: absolute;
  }
}



@keyframes showApp {
  100% {
    opacity: 1;
  }
}

.header{
  width: 100%;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;

  display: table;
  display: flex;
  flex-wrap: nowrap;

  z-index: 10;

  .menu, .social{
    box-sizing: border-box;

    display: table-cell;

    padding: 20px;
    font-family: "aktiv-grotesk";
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;

    @media (min-width: 600px) {
      padding: 20px 50px;
    }
  }
  .menu{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: 35%;
  }
  .social{
    text-align: right;
    width: 65%;
    .icon:last-of-type{
      padding-right: 0;
      margin-right: 0;
    }
    .icon{
      text-decoration: none;
      color: inherit;
      padding: 6px;
      margin: 0 2px;
      transition: color 200ms;
      &:hover{
        color: rgba(255,255,255,0.9);
      }
    }
  }
  .menu-btn{
    display: inline-block;
    white-space: nowrap;
    &:hover{
      color: #fff;
      cursor: pointer;
      .logo--menu-bars{
        background: #fff;
        &::before, &::after{
          background: #fff;
        }
      }
    }
  }
  .logo--menu-text{
    display: inline-block;
    transition: color 200ms;

  }
  .logo--menu{
    display: inline-block;
    width: 30px;
    height: 14px;
    margin: 0 5px;
    position: relative;
    top: 2px;
  }
  .logo--menu-bars{
    width: 10px;
    height: 2px;
    background: #222;
    display: block;
    transition: background 200ms;
    &::before, &::after{
      top: 4px;
      content: '';
      display: block;
      width: 10px;
      height: 2px;
      margin:2px 0;
      position: relative;
      background: #222;
      z-index: 2;
      transition: background 200ms;

    }
  }
}
.footer{
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;

  display: table;
  display: flex;
  flex-wrap: nowrap;

  z-index: 10;

  .copyright{
    width:100%;
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    a{
      color: inherit;
    }
  }
}
.aside{
  position: absolute;
  left: 5%;
  bottom: 50%;
  width: 100px;
  height: 50px;
  display: block;
  font-family: "adobe-text-pro";
  font-style: italic;
  font-size: 32px;
  color: rgba(255,255,255,0.8);

  .aside--number,.aside--slash{
    display: block;
    line-height: 10px;
    position: relative;
  }
  .aside--slash{
    padding: 5px 12px;
    transform: rotate(12deg);
  }
  #slide-number{
    .number{
      display: inline-block;
      transform: scale(0);
      opacity: 0;
      animation: displayIn 1s 1 forwards;
      position: relative;
      @keyframes displayIn {
        30%{
          transform: scale(1.4);
        }
        100%{
          opacity: 1;
          transform: scale(1);
        }
      }
    }

  }
  .number-two{
    bottom: 3px;
    left: 14px;
  }
}

.screens{
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: absolute;
}
.screen{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  // transition: background 300ms;
  overflow: hidden;
  display: none;
  // will-change: transform;

  &.slide-out{
    display: block;
    animation: slideOut .8s .5s 1 forwards cubic-bezier(0.175, 0.785, 0.32, 1);
  }
  &.slide-in{
    transform: translateY(100%);
    animation: slideIn .8s .5s 1 forwards cubic-bezier(0.175, 0.785, 0.32, 1);
    display: block;
    z-index: 2;
  }
  &.fade-out{
    opacity: 0;
    visibility: hidden;
  }
  &.fade-in{
    opacity: 1;
    visibility: visible;
  }

  @keyframes slideOut {
    100%{
      transform: translateY(-100%);
      visibility: hidden;
    }
  }
  @keyframes slideIn {
    0%{
      transform: translateY(100%);
      visibility: visible;
      opacity: 1;
    }
    100%{
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }
  }


  .screen--container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    @media (min-width:600px) {
      flex-wrap: nowrap;

    }
    .screen--right,.screen--left{
      display: flex;
      box-sizing: border-box;
    }
    .screen--left{
      margin-left: 10%;
      border-left: 1px solid rgba(255,255,255,0.15);

      height: 100%;
      width: 90%;
      min-width: 90%;

      @media (min-width: 600px) {
        width:60%;
        min-width: 60%;
        border-right: 1px solid rgba(255,255,255,0.15);
      }
      @media (min-width: 700px) {
        margin-left: 15%;

      }

      &.screen-collapse{
        height: auto;
        align-self: flex-end;
        .screen-center{
          align-self: center;
        }
        &+.screen--right{
          display: flex;
          align-self: flex-start;
        }

        @media (min-width: 600px) {
          height: 100%;
          align-self: center;
          &+.screen--right{
            align-self: center;
          }
        }
      }
    }
    .screen--right{
      width: 100%;
      max-width: 100%;
      margin-left: 10%;
      border-left: 1px solid rgba(255,255,255,0.15);
      display: none;
      @media (min-width: 600px) {
        margin-left: 0;
        border-left: 0;
        width: 25%;
        max-width: 25%;
        display: flex;
      }
    }

    .screen-center{
      align-self: center;
      width: 100%;
      padding: 4px;
      box-sizing: border-box;
      max-width: 100%;
      .screen--right-hidden{
        display: block;
        @media (min-width: 600px) {
          display: none;
        }
      }

    }
  }

  .align-right{
    @media (min-width: 600px) {
      text-align: right;
      .intro-desc{
        margin: auto 0 auto auto;
      }
    }
  }


}
.screen--video{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition:  visibility 0s 2s, opacity 1s .2s;
  visibility: hidden;

  &[data-enable='true']{
    transition:  visibility 0s 1ms, opacity 1s .6s;
    visibility: visible;
    opacity: 1;
  }

  video{
    // width: 100%;
    // height: 100%
    min-height: 100vh;
    display: none;
    @media (min-width: 800px){
      display: inherit;
    }
  }
  .fullscreen{
    width: 100%;
  }
}
//
// .video-under{
//   visibility: hidden;
//   animation: showVideo 8s 13s forwards 2;
// }

.video-ottoform{
  background: url(/img/otter.jpg) 50% 50%;
  background-size: cover;
  opacity: 0;
}
.video-frnkrok{
  opacity: 0;
  background: url(/img/frnkrok_crowd.png) 50% 50%;
  background-size: cover;
}
.video-jlv3{
  opacity: 0;
  background: url(/img/leaves.jpeg) 50% 50%;
  background-size: cover;
}
.video-juiced{
  opacity: 0;
  background: url(/img/juiced.jpeg) 50% 50%;
  background-size: cover;
}


@keyframes showVideo {
  0%,100%{
    visibility: hidden;
  }
  50%{
    visibility: visible;
  }
}

.screen--home{
  display: none;
  &.active{
    display: block;
  }
  &:after{
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(darken($color-green,10%),0.8);
    // background: rgba($color-green,0.8);
    // background: rgba(lighten(purple,50%),0.8);
    // background: rgba($color-red,0.8);
    z-index: -1;
    min-height: 100vh;
  }

}
.screen--ottoform{

  &:after{
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    // background: rgba(darken($color-yellow,10%),0.8);
    background: rgba($color-blue,0.8);
    // background: rgba(lighten(purple,50%),0.8);
    // background: rgba($color-red,0.8);
    z-index: -1;
    min-height: 100vh;
  }

}
.screen--frnkrok{

  &:after{
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    // background: rgba(darken($color-yellow,10%),0.8);
    background: rgba($color-green,0.8);
    background: rgba(lighten(purple,50%),0.8);
    // background: rgba($color-red,0.8);
    z-index: -1;
    min-height: 100vh;
  }

}
.screen--jlv3{

  &:after{
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(#292a93,0.8);
    z-index: -1;
    min-height: 100vh;
  }
  .screen--right{
    color: #ccc;
  }

}

.screen--juiced{

  &:after{
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(#e54d42,0.8);
    z-index: -1;
    min-height: 100vh;
  }

}

@keyframes inFadeIn{
  100%{
    opacity: 1;
    visibility: visible;
  }
}

@keyframes inFadeOut{
  100%{
    opacity: 0;
  }
}
@keyframes inOverlowTopIn{
  100%{
    transform: translateY(0);
  }
}
@keyframes inOverlowTopOut{
  100%{
    transform: translateY(200%);
  }
}

.h1{
  font-size: 60px;
  line-height: 0.85em;
  margin-bottom: 10px;

  @media (min-width: 800px) {
    font-size: 120px;
    line-height: 0.65em;
    margin-bottom: 50px;
  }
  .h1--pre{
    display: block;
    font-size: 0.35em;
  }
}
.slide-out .intro-desc{
  animation: inFadeOut 1s 600ms 1 forwards;
}
.slide-in .intro-desc{
  animation-delay: 1.6s;
}
.intro-desc{
  font-size: 18px;
  color: #fff;
  margin: 0;
  margin-bottom: 40px;
  max-width: 600px;
  animation: inFadeIn 1s 600ms 1 forwards;
  opacity: 0;
  @media (min-width: 800px) {
    font-size: 28px;
  }
}

.answer{
  font-size: 15px;
  a{
    color: inherit;;
  }
}
.writings-list,.project-grid{
  list-style: none;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 18px;
}
.project-grid{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.project-grid-li{
  width: 100%;
  text-align: left;

  a{
    padding: 8px 6px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    font-family: "brandon-grotesque", serif;
    color: #262626;
    font-weight: 800;
    span{
      position: relative;
      display: block;
      transition: transform 300ms, opacity 400ms;
      transform-origin: 50% 50%;
    }
    .description{
      height: 0;
      width: 0;
      overflow: hidden;
      font-size: 12px;
      font-family: "adobe-text-pro";
      opacity: 0;
      font-weight: 400;

    }
    &:hover{
      .title{
        transform: translateY(-6px);
        color: #fff;
      }
      .description{
        // height: auto;
        width: auto;
        overflow: visible;
        opacity: 1;
        transition-delay: 60ms;
        transform: translateY(-6px);
        white-space: nowrap;
        // overflow: hidden;
        text-overflow: ellipsis;
        font-style: italic;
        color: #fff;
      }
    }

  }
  // a:nth-child(even) {
  //   border-left: 0;
  // }
}
.writing-list-li{
  padding: 0;
  margin: 0;

  a{
    display: block;
    padding: 6px;
    margin: 0;
    color: inherit;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
    font-size: 14px;


    @media (min-width:900px) {
      font-size: inherit;
    }

    &:hover{
      &:after{
        transform: scale(1);
      }
    }
    &:after{
      position: absolute;
      content: '';
      height: 2px;
      background: rgba(2,2,5,0.4);
      width: 100%;
      left: 0;
      top: calc(50% - 1px);
      display: block;
      transform: scale(0,1);
      transform-origin: 0% 50%;
      transition: transform 300ms;
    }
  }
}

.slide-out .label.absolute {
  animation:none;
  transition: opacity 800ms;
  opacity: 0;
}
a.label{
  text-decoration: none;
  display: inline-block;
  &.after-line{
    &:hover{
      &:after{
        transform: translateX(-100%);
      }
    }
  }
}
.label{
  font-family: "aktiv-grotesk";
  font-weight: 700;
  color: #fff;
  display: inline-block;
  letter-spacing: 2px;
  font-size: 11px;
  padding: 6px 0;
  &.before-line{
    &:before{
      transition: transform 300ms;
      content: '';
      display: inline-block;
      height: 2px;
      background: rgba(#fff,0.6);
      margin:  3px;
      width: 50px;
    }
  }
  &.after-line{
    &:after{
      transition: transform 300ms;
      content: '';
      display: inline-block;
      height: 2px;
      background: rgba(#fff,0.6);
      margin:  3px;
      width: 50px;
    }
  }
  &.absolute{
    position: absolute;
    z-index: 3;
    opacity: 0;
    animation: inFadeIn 2s 1s 1 forwards;
  }
  a{
    color: inherit;
    text-decoration: none;
    transition: color 200ms;

    &:hover{
      color: rgba(255,255,255,0.7);
      .icon{
        opacity: 0.7;
      }
    }
  }
  .icon{
    height: 12px;
    position: relative;
    top: 1px;
    transition: opacity 200ms;
  }
  .icon-scroll{
    height: 22px;
    top: 4px;
  }
}
.slide-out .overflower{
  .in-overflower{
    animation: inOverlowTopOut 600ms 50ms 1 forwards ease-in-out;
    transform: translateY(0%);
    animation-delay: 0s !important;
  }
}
.slide-in .overflower{
  .in-overflower{
    animation-delay: 1s;
  }
  &.t-2x{
    .in-overflower{
      animation-delay: 1.2s;
    }
  }
  &.t-3x{
    .in-overflower{
      animation-delay: 1.3s;
    }
  }
  &.t-4x{
    .in-overflower{
      animation-delay: 1.4s;
    }
  }
  &.t-5x{
    .in-overflower{
      animation-delay: 1.5s;
    }
  }
  &.t-6x{
    .in-overflower{
      animation-delay: 1.6s;
    }
  }
  &.t-7x{
    .in-overflower{
      animation-delay: 1.7s;
    }
  }
  &.t-8x{
    .in-overflower{
      animation-delay: 1.8s;
    }
  }
}
.screen--right .screen-center .overflower{
  display: inline-block;
  @media (min-width: 600px) {
    display: inherit;
  }
}
.overflower{
  position: relative;
  overflow: hidden;
  padding: 0 10px;
  right: 10px;

  .in-overflower{
    animation: inOverlowTopIn 600ms 50ms 1 forwards ease-in-out;
    transform: translateY(200%);
  }
  &.t-2x{
    .in-overflower{
      animation-delay: 200ms;
    }
  }
  &.t-3x{
    .in-overflower{
      animation-delay: 300ms;
    }
  }
  &.t-4x{
    .in-overflower{
      animation-delay: 400ms;
    }
  }
  &.t-5x{
    .in-overflower{
      animation-delay: 500ms;
    }
  }
  &.t-6x{
    .in-overflower{
      animation-delay: 600ms;
    }
  }
  &.t-7x{
    .in-overflower{
      animation-delay: 700ms;
    }
  }
  &.t-8x{
    .in-overflower{
      animation-delay: 800ms;
    }
  }
}
