@import url("//weloveiconfonts.com/api/?family=brandico");

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}


$color-black: #1d201e;
$color-white: #f6f6f6;

$color-red: #FF5253;
$color-blue: #50aad0;
$color-green: #48dc8e;
$color-yellow: #fcee08;

::-moz-selection {
  color: #fff; background: rgba(#252525,0.9);
}

::selection {
  color: #fff; background: rgba(#252525,0.9);
}

a{
  touch-action: none;
}

html{
  background: $color-black;
}

html,
body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body{
  font-size: 22px;
  font-family: serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.loader{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: $color-white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 11;
  text-align: center;
  &.out{
    transition: opacity 400ms, visibility 1ms 800ms;
    opacity: 0;
    visibility: hidden;
  }
  .container{
    width: 100%;
    align-self: flex-start;
  }
  .loader--circle-container{
    width: calc(100% - 200px);
    position: relative;
    bottom: 100px;
  }
  .loader--circle{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    animation: pulse 2s infinite alternate-reverse;
    // background: $color-blue;
    display: inline-block;
    display: inline-flex;
    align-items: center;
    // border: 2px solid #fff;
    position: absolute;
    div{
      width: 100%;
    }
    #j-load-icon{
      position: absolute;
      width: 80%;
      left: 10%;
      top: 10px;
      .a{
        stroke-dasharray: 1500;
        stroke-dashoffset: 1500;
        animation: buildInOutLine 1s 1 forwards;
        @keyframes buildInOutLine {
          100%{
            stroke-dashoffset: 0;
            // stroke-dasharray: 0;
          }
        }
      }
    }
    #flask--potion{
      fill: $color-blue;
    }

    &:after,&:before{
      content:'';
      border: 4px solid #fff;
      border-top: 4px solid $color-blue;
      position: absolute;
      display: block;
      border-radius: 100%;
      width: 140%;
      height: 140%;
      left: -20%;
      top: -20%;
      animation: rotate 2s infinite reverse ease-in-out;
      @keyframes rotate {
        100%{
          transform: rotate(360deg);
        }
      }
    }
    &:before{
      width: 120%;
      height: 120%;
      left: calc(-10% - 5px);
      top: calc(-10% - 5px);
      animation-direction: normal;
      border-width: 10px;
      border-top-color: $color-blue;
      animation-duration: 2.5s;
      animation-timing-function: linear;
    }

    @keyframes pulse {
      0%{
        transform: scale(0.9);
        // opacity: 0;
      }
      50%{
        transform: scale(1);
        opacity: 1;
      }
      100%{
        transform: scale(1.12);
        // opacity: 0;
        // background: #fff;
        // border-color: $color-green;

      }
    }
  }
  .loader--text{
    display: block;
    width: 100%;
    position: absolute;
  }
}


.header{
  width: 100%;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;

  display: table;
  display: flex;
  flex-wrap: nowrap;

  z-index: 10;

  .menu, .social{
    box-sizing: border-box;

    display: table-cell;

    padding: 20px;
    font-family: "aktiv-grotesk";
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;

    @media (min-width: 600px) {
      padding: 20px 50px;
    }
  }
  .menu{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: 35%;
  }
  .social{
    text-align: right;
    width: 65%;
    .icon:last-of-type{
      padding-right: 0;
      margin-right: 0;
    }
    .icon{
      text-decoration: none;
      color: inherit;
      padding: 6px;
      margin: 0 2px;
      transition: color 200ms;
      &:hover{
        color: rgba(255,255,255,0.9);
      }
    }
  }
  .menu.activate{
    .exit-btn{
      display: block;
    }
    .menu-btn{
      transition: opacity 200ms;
      opacity: 0;
    }
    &+.social{
      .icon:hover{
        color: rgba(55,55,55,0.8);
      }
    }
  }
  .exit-btn{
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    display: none;
    cursor: pointer;
    padding: 50px;
    left: 0px;
    top:-20px;
    transition: opacity 400ms, transform 400ms;
    opacity: 0.9;
    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 20px;
    z-index: 15;
    @media (min-width: 800px){
      padding: 50px;
      top: 0;
    }
    &:hover{
      opacity: 0.6;
      // transform:
      .x,.x-2{
      }
    }
    .x,.x-2{
      width: 60px;
      background: #222;
      height: 2px;
      display: block;
      position: relative;
      transform: scale(0);
      opacity: 0.6;
      animation: sliceIn .3s 1.2s 1 forwards;

    }
    @keyframes sliceIn{
      0%{
        transform: translate(50%,50%) scale(2,1);
      }
      60%{
        transform: translate(-5%,-5%) scale(1);
      }
      100%{
        transform: scale(1);
        opacity: 1;
      }
    }
    .x-45{
      transform: rotate(45deg);
    }
    .x-135{
      transform: rotate(135deg);

    }
    .x{
      transform-origin: top left;
    }
    .x-2{
      animation-delay: 1.5s;
      transform-origin: bottom left;
    }
  }
  .menu-btn{
    display: inline-block;
    white-space: nowrap;
    &:hover{
      color: #fff;
      cursor: pointer;
      .logo--menu-bars{
        background: #fff;
        &::before, &::after{
          background: #fff;
        }
      }
    }
  }
  .logo--menu-text{
    display: inline-block;
    transition: color 200ms;

  }
  .logo--menu{
    display: inline-block;
    width: 30px;
    height: 14px;
    margin: 0 5px;
    position: relative;
    top: 2px;
  }
  .logo--menu-bars{
    width: 10px;
    height: 2px;
    background: #222;
    display: block;
    transition: background 200ms;
    &::before, &::after{
      top: 4px;
      content: '';
      display: block;
      width: 10px;
      height: 2px;
      margin:2px 0;
      position: relative;
      background: #222;
      z-index: 2;
      transition: background 200ms;

    }
  }
}
.footer{
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;

  display: table;
  display: flex;
  flex-wrap: nowrap;

  z-index: 10;

  .copyright{
    width:100%;
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    a{
      color: inherit;
    }
  }
}
.aside{
  position: absolute;
  left: 5%;
  bottom: 50%;
  width: 100px;
  height: 50px;
  display: block;
  font-family: "adobe-text-pro";
  font-style: italic;
  font-size: 32px;
  color: rgba(255,255,255,0.8);
  &.hide{
    display: none;
  }

  .aside--number,.aside--slash{
    display: block;
    line-height: 10px;
    position: relative;
  }
  .aside--slash{
    padding: 14px 12px;
    transform: rotate(12deg);
  }
  #slide-number{
    font-size: 42px;

    .number{
      display: inline-block;
      transform: scale(0);
      opacity: 0;
      animation: displayIn 1s .1s 1 forwards;
      position: relative;
      @keyframes displayIn {
        30%{
          transform: scale(1.4);
        }
        100%{
          opacity: 1;
          transform: scale(1);
        }
      }
    }

  }
  .number-two{
    bottom: 14px;
    left: 15px;
    font-size: 42px;

  }
}


.screens{
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: absolute;
}
.screen{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  // transition: background 300ms;
  overflow: hidden;
  display: none;
  // will-change: transform;

  &.slide-out{
    display: block;
    animation: slideOut .8s .65s 1 forwards cubic-bezier(0.345, 0.045, 0.355, 1);
    &:after{
      transition: transform .6s;
      transform: scale(0.93);
    }
  }
  &.slide-in{
    transform: translateY(100%);
    animation: slideIn .6s .6s 1 forwards cubic-bezier(0.345, 0.045, 0.355, 1);
    transform: translateY(0%);
    animation: inFadeIn .8s .65s 1 forwards cubic-bezier(0.345, 0.045, 0.355, 1);
    display: block;
    opacity: 0;
    &:after{
      transform: scale(1);
    }
    // z-index: 2;
  }
  &.fade-out{
    opacity: 0;
    visibility: hidden;
  }
  &.fade-in{
    opacity: 1;
    visibility: visible;
  }
  &.fade-out-slow{
    // opacity: 0;
    // visibility: hidden;
    transition: transform 600ms;

    &:after{
      transition: transform .6s;
      transform: scale(0.93);
    }
    // animation: none;
  }
  @keyframes slideOut {
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(-100%);
      visibility: hidden;
    }
  }
  @keyframes slideIn {
    0%{
      transform: translateY(100%);
      visibility: visible;
      opacity: 1;
    }
    100%{
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }
  }


  .screen--container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    @media (min-width:600px) {
      flex-wrap: nowrap;

    }
    .screen--right,.screen--left{
      display: flex;
      box-sizing: border-box;
    }
    .screen--left{
      margin-left: 10%;
      border-left: 1px solid rgba(255,255,255,0.15);

      height: 100%;
      width: 90%;
      min-width: 90%;

      @media (min-width: 600px) {
        width:60%;
        min-width: 60%;
        border-right: 1px solid rgba(255,255,255,0.15);
      }
      @media (min-width: 700px) {
        margin-left: 15%;

      }

      &.screen-collapse{
        height: auto;
        align-self: flex-end;
        .screen-center{
          align-self: center;
        }
        &+.screen--right{
          display: flex;
          align-self: flex-start;
        }

        @media (min-width: 600px) {
          height: 100%;
          align-self: center;
          &+.screen--right{
            align-self: center;
          }
        }
      }
    }
    .screen--right{
      width: 100%;
      max-width: 100%;
      margin-left: 10%;
      border-left: 1px solid rgba(255,255,255,0.15);
      display: none;
      @media (min-width: 600px) {
        margin-left: 0;
        border-left: 0;
        width: 25%;
        max-width: 25%;
        display: flex;
      }
    }

    .screen-center{
      align-self: center;
      width: 100%;
      padding: 4px;
      box-sizing: border-box;
      max-width: 100%;
      .screen--right-hidden{
        display: block;
        @media (min-width: 600px) {
          display: none;
        }
      }

    }
  }

  .align-right{
    @media (min-width: 600px) {
      text-align: right;
      .intro-desc{
        margin: auto 0 auto auto;
      }
    }
  }


}
.screen--video{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition:  visibility 0s 2s, opacity 1s .2s;
  visibility: hidden;

  &[data-enable='true']{
    transition:  visibility 0s 1ms, opacity 1s .8s;
    visibility: visible;
    opacity: 1;
  }

  video{
    // width: 100%;
    // height: 100%
    min-height: 100vh;
    display: none;
    @media (min-width: 800px){
      display: inherit;
    }
  }
  .fullscreen{
    width: 100%;
  }
}
//
// .video-under{
//   visibility: hidden;
//   animation: showVideo 8s 13s forwards 2;
// }
.video-person,
.video-code{
  &.video-person{
    background: $color-yellow;
  }
  background: $color-blue;
  opacity: 0;
  visibility: visible;

  &.fadeIn{
    transition:  visibility 0s 0s, opacity 1s 0s;
    opacity: 1;
  }
  &.fadeOut{
    opacity: 0;
    transition:  visibility 0s 0s, opacity 1s .1s;
  }
}
.video-about-me{
  // background: url(/img/building_sky.jpeg) 50% 50%;
  background: #c0c0c3;
  background: #fff;
  background-size: cover;
  opacity: 0;
  transform: translateZ(0);
  &[data-enable='true']{
    transition:  visibility 0s 0s, opacity .6s 0s;
  }
  &.fadeOut{
    opacity: 0;
    transition:  visibility 0s 0s, opacity 1s .1s;
  }
}
.video-home{
  background: url(/img/lion.jpg) 50% 50%;
  background-size: cover;
  opacity: 0;
}
.video-ottoform{
  background: url(/img/otter.jpg) 50% 50%;
  background-size: cover;
  opacity: 0;
}
.video-frnkrok{
  opacity: 0;
  background: url(/img/frnkrok_crowd.png) 50% 50%;
  background-size: cover;
}
.video-jlv3{
  opacity: 0;
  background: url(/img/leaves.jpeg) 50% 50%;
  background-size: cover;
}
.video-juiced{
  opacity: 0;
  background: url(/img/juiced.jpeg) 50% 50%;
  background-size: cover;
}


@keyframes showVideo {
  0%,100%{
    visibility: hidden;
  }
  50%{
    visibility: visible;
  }
}
.animation-pictures-block{
  position: absolute;
  top: calc(50% - 15vw);
  right: 3.5%;
  display: none;
  height: 120px;
  width: 180px;
  border: 11vw solid #fff;
  border-top-width: 9.5vw;
  border-bottom-width: 9.5vw;
  opacity: 0;
  transition: opacity .7s;
  z-index: 1;
  // transform: rotate(90deg);
  animation: inFadeIn .4s 1 forwards;

  &:after{
    background:rgba(darken($color-red,10%), .5);
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: 0;
  }

}

.home-animation-block{
  background: #111 url('/img/home_reel.jpg') 0px 50% no-repeat;
  animation: homeAnimation .6s steps(4,end) infinite;
  background-size: 718px;
}
.portfolio-animation-block{
  background: #111 url('/img/portfolio_reel.jpg') 0px 50% no-repeat;
  animation: portfolioAnimation .7s steps(5,end) infinite;
  background-size: 900px;
}
.writings-animation-block{
  background: #111 url('/img/lion.jpg') 50% 50% no-repeat;
  animation: portfolioAnimation .7s steps(5,end) infinite;

  align-items: center;
  &:before{
    font-size: 126px;
    line-height: 120px;
    display: block;
    width: 100%;
    text-align: center;
    content: 'W';
    position: relative;
    color: rgba(255,255,255,0.9);
    z-index: 1;
    animation: writingsAnimation 1.2s steps(8,end) infinite;
  }
}
@keyframes homeAnimation{
  100%{
    background-position: -720px 50%;
  }
}
@keyframes portfolioAnimation{
  100%{
    background-position: -900px 50%;
  }
}
@keyframes writingsAnimation{
  0%{
    content: 'W';
  }
  12.5%{
    content: 'R';
  }
  25%{
    content: 'I';
  }
  37.5%{
    content: 'T';
  }
  50%{
    content: 'I';
  }
  62.5%{
    content: 'N';
  }
  75%{
    content: 'G';
  }
  87.5%{
    content: 'S';
  }
}


.screen--menu{
  display: none;
  // z-index: 5;
  nav{
    a{
      position: relative;
      display: block;
      color: #222;
      transition: transform .4s;
      text-decoration: none;
      font-weight: 600;
      z-index: 2;

      .h1{
        font-size: 42px;
        line-height: .7em;
        @media (min-width: 500px){
          font-size: 50px;
        }
        @media (min-width: 600px){
          font-size: 62px;
        }
        @media (min-width: 800px){
          font-size: 92px;
        }
        @media (max-height: 320px){
          font-size: 32px;
          line-height: .3em;
        }
      }
      &:before{
        content: "0" attr(data-count) "";
        position: absolute;
        left: -16px;
        bottom: 20px;
        font-size: 10px;
        display: block;
        transition: transform .4s;
      }
      &:after{
        content:'';
        width: 60px;
        height: 8px;
        border-radius: 1px;
        top: 45%;
        left: 0%;
        position: absolute;
        opacity: 0;
        display: inline-block;
        background: rgba(#222,0.6);
        transform: translateX(35px);
        @keyframes slideLine {
          100%{
            opacity: 1;
            transform: translateX(-95%);
          }
        }
      }
      &:hover{
        opacity: 1;
        transform: translateX(15px);
        &:after{
          animation: slideLine .6s  1 forwards;
        }
        &:before{
          transform: translateX(-15px);
        }
        &+.animation-pictures-block{
          opacity: 1;
          @media(min-width: 600px){
            display: block;
          }
        }
      }
    }
  }
  .menu--desc{
    position: absolute;
    bottom:6px;
    left: 10px;
    font-size: 9px;
    font-family: "aktiv-grotesk";
    text-transform: uppercase;
    transition: opacity .5s 0s;
    opacity: 0;
    display: block;
  }
  .screen--container .screen--left, .screen--container .screen--left, {
    border-left-color: #eee;
    border-right-color: #eee;
  }
  .screen--container .screen--left{
    width: 80%;
  }
  .screen--container .screen--right{
    // width: 10%;
    @media (min-width: 600px){
      height: 92%;
    }
    .label{
      color: #222;
      white-space: nowrap;
      &:before{
        background: #222;
      }
    }
    .screen--bottom{
      align-self: flex-end;
      .overflower{
        position: relative;

        z-index: 12;
      }
      @media (min-width: 600px){
        .overflower{
          width: 180px;
          right: 220px;
          text-align: right;
        }

      }
    }
  }

  .side-mailto{
    position: relative;
    display: block;
    color: #555;
    text-decoration: none;
    text-decoration: underline;;
    small{
      display: block;
      font-weight: 800;
    }
    @media (min-width: 600px) {
      transform: rotate(90deg);
    }
  }
  .overflower .in-overflower{
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .h1{
    line-height: 1em;
    @media (min-width: 800px){
      font-size: 90px;
    }
  }
  &.fade-in{
    z-index: 9;

    display: block;
    opacity: 1;
    // animation: inFadeIn .6s .6s 1 forwards;
    animation: menuIn 1s 1 .6s forwards cubic-bezier(0.345, 0.045, 0.355, 1);
    transform: translate(-100%,0%);
    .menu--desc{
      opacity: 0;
      animation: inFadeIn 1s 1.6s 1 forwards;
    }
    @keyframes menuIn {
      100%{
        transform: translate(0,0);
        opacity: 1;
      }
    }
    @keyframes menuOut {
      100%{
        transform: translate(-100%,0);
        opacity: 1;
      }
    }

    .overflower .in-overflower{
      display: block;
    }
  }
  &.fade-out-slow{
    z-index: 9;
    display: block;
    // animation-duration: 0.4s;
    visibility: visible;
    opacity: 1;
    transform: translate(0);
    transition: none;
    animation: menuOut .65s .6s 1 forwards cubic-bezier(0.345, 0.045, 0.355, 1);
    .menu--desc{
      opacity: 1;
      animation: inFadeOut .4s 0s 1 forwards;
    }
    .overflower{
      .in-overflower{
        display: block;
        animation: inOverlowTopOut .6s .1s 1 forwards ease-in-out;
        transform: translateY(0%);
      }
      &.t-8x .in-overflower {
        animation-delay: 0.4s;
      }
      &.t-9x .in-overflower {
        animation-delay: 0.3s;
      }
      &.t-10x .in-overflower {
        animation-delay: 0.2s;
      }
      &.t-11x .in-overflower {
        animation-delay: 0.1s;
      }
      &.t-12x .in-overflower {
        animation-delay: 0s;
      }
    }
    &:after{
      transform: scale(0.96);
    }
  }
  &:after{
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    // background: rgba($color-green,0.8);
    // background: rgba(lighten(purple,50%),0.8);
    // background: rgba($color-red,0.8);
    z-index: -1;
    min-height: 100vh;
  }

}
.screen--about-me{
  display: none;
  &.active{
    display: block;
  }
  .label{
    color: #222;
  }
  .question-letters{
    .h1{
      font-size: 82px;
      font-weight: 700;
      font-family: "aktiv-grotesk";
      text-transform: uppercase;
      color: #fff;
      opacity: 0.35;
      cursor: pointer;
      transition: opacity 300ms, transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      line-height: 1em;
      margin-bottom: -0.8em;
      position: relative;
      padding: 0 5px;
      display: inline-block;
      &:hover{
        transform: scale(1.2);
        opacity: 1 !important;
        &:after{
          opacity: 1;
        }
      }
      &:after{
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        height: 100%;
        background: rgba(#111,1);
        opacity: 0;
        transition: opacity 400ms;
      }
    }
    .h1:nth-child(even) {
      opacity: 0.5;

    }
  }
  .header-letters{
    margin: 40px 0;
    line-height: 1em;
    position: relative;
    font-size: 22px;
    @media (min-width: 600px){
      font-size: 60px;
    }
    $i: 60;
    @while $i > 0 {
      .active:nth-child(#{$i}) { transition-delay: #{$i * 3}0ms; }
      $i: $i - 1;
    }
  }
  .letr{
    letter-spacing: -.25em;
    opacity: 0.2;
    transition: opacity 600ms, transform 400ms;
    position: relative;
    display: inline-block;

    &.active{
      opacity: 1;
      transform: scale(1.5) translateY(-100%);
      letter-spacing: -.3em;
      position: absolute;
      left: 0;
      top: 0;
    }

  }
  .no-list{
    margin-top: 5px;
    li{
      display: inline-block;
      a{
        padding: 5px 10px 5px 0;
        font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
        // border: 1px solid #222;
        text-decoration: none;
        font-size: 10px;
        font-weight: 100;
        text-transform: uppercase;
        color: #666;
        letter-spacing: 1px;

        &:hover{
          color: #222;
        }
      }
    }
  }
  .intro-desc{
    color: #211;
    font-family: Serif;
    font-size: 1em;
    max-width: 550px;
    a{
      color: inherit;
    }
  }
  &:after{
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(#c0c0c0,0.45);
    // height: 5000px;
    // background: linear-gradient(rgba(223, 242, 250, 0), rgba(223, 242, 250, 0), rgb(248, 245, 238), rgb(248, 245, 238), rgb(236, 249, 255), rgb(236, 249, 255), rgb(246, 244, 236), rgb(246, 244, 236), rgb(237, 245, 211), rgb(237, 245, 211), rgb(242, 248, 246), rgb(242, 248, 246), rgb(250, 240, 192), rgb(250, 240, 192), rgb(243, 247, 248), rgb(243, 247, 248), rgb(235, 250, 236), rgb(235, 250, 236), rgb(247, 241, 239), rgb(247, 241, 239), rgb(247, 245, 253), rgb(247, 245, 253), rgb(247, 243, 243), rgb(247, 243, 243), rgb(245, 237, 251), rgb(245, 237, 251));
    // background: rgba($color-green,0.8);
    // background: rgba(lighten(purple,50%),0.8);
    // background: rgba($color-red,0.8);
    z-index: -1;
    min-height: 100vh;
  }
  #scroll-section-background{
    text-align: left;
    opacity: 0.8;
    padding-top:300px;

    @media( min-width: 600px ) {
      text-align: right;
      opacity: 1;
      padding-top:0px;
    }
    .screen--left{
      position: relative;
      transform: 50% 50%;
    }
    .white-back{
      position: absolute;
      left: -10%;
      height: 400px;
      background: rgba(#fff,.9);
      width: 110%;
      max-width: 700px;
      border-radius: 10px;
      top: calc(50% - 500px);
      box-shadow: 0 0 15px rgba(2,2,2,.1);
      animation: inFadeIn .6s .5s 1 forwards;
      opacity: 0;
      border: 1px solid rgba(#222,0.3);
      &:after{
        content: "QUICK REFERENCE CARD";
        position: absolute;
        font-family: sans-serif;
        top:0;
        right: 0;
        color: #ccc;
        font-size: 10px;
        padding: 10px;
      }

      &.fly-out{
        animation: flyOut 1s 1 forwards;
        @keyframes flyOut{
          0%{
            opacity: 1;
          }
          100%{
            transform: translate(100%, 50%) rotate(50deg);
          }
        }
      }
      @media (min-width: 600px){
        top: calc(50% - 200px);
        width: 120%;
      }

    }
    .h1.clip-text{
      line-height: 1em;
      font-size: 220px;
      background: url(/img/giphy.gif) 50% 50%;
      animation: portfolioAnimation 1s steps(5,end) infinite;
      background-size: cover;
      filter: hue-rotate(180deg);
      display: block;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
      left: 0px;
      bottom: 20px;
      opacity: 0.5;
      @media (min-width: 600px){
        left: 200px;
        font-size: 400px;
      }
    }

    .clip-label{
      color: #111;
      text-transform: uppercase;
      position: absolute;
      margin-top: -100px;
      margin-left: -250px;
      white-space: nowrap;
      @media (min-width: 600px){
        margin-left: -40px;
      }
      &+.clip-label{
        margin-top: -88px;
        &:before{
          background: transparent;
        }
      }
    }
  }
  .screen--container{
    flex-wrap: wrap;
    align-items: flex-start;;
    align-content: flex-start;
    .screen--left{
      height: 100vh;
      min-height: 800px;
    }
    .screen-center{
      align-self: center;
      //
      // .h1{
      //   color: $color-black;
      //   font-size: 42px;
      //   margin-top: 40px;
      //   margin-bottom: 0;
      //   display: block;
      // }
      //
      //
      // .h1 + .answer{
      //   // font-size: 22px;
      //   display: block;
      //   color: #222;
      //   padding-right: 10px;
      //   text-transform: uppercase;
      // }
    }
  }
  .screen--right.push-left{
    margin-left: -30%;
    max-width: none;
    width: 50%;
    // background: #fff;
    // background: rgba(#888, .2);
    text-align: right;
    align-content: flex-start;
    .screen-center{
      align-self: flex-start;
      padding: 100px 0;

    }
  }

}
.screen--home{
  display: none;
  &.active{
    display: block;
  }
  &:after{
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(darken($color-green,10%),0.8);
    // background: rgba($color-green,0.8);
    // background: rgba(lighten(purple,50%),0.8);
    // background: rgba($color-red,0.8);
    z-index: -1;
    min-height: 100vh;
  }

}
.screen--ottoform{

  &:after{
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    // background: rgba(darken($color-yellow,10%),0.8);
    background: rgba($color-blue,0.8);
    // background: rgba(lighten(purple,50%),0.8);
    // background: rgba($color-red,0.8);
    z-index: -1;
    min-height: 100vh;
  }

}
.screen--frnkrok{

  &:after{
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    // background: rgba(darken($color-yellow,10%),0.8);
    background: rgba($color-green,0.8);
    background: rgba(lighten(purple,50%),0.8);
    // background: rgba($color-red,0.8);
    z-index: -1;
    min-height: 100vh;
  }

}
.screen--jlv3{

  &:after{
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(#2324ae,0.8);
    z-index: -1;
    min-height: 100vh;
  }
  .screen--right{
    color: #ccc;
  }

}

.screen--juiced{

  &:after{
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(#e54d42,0.8);
    z-index: -1;
    min-height: 100vh;
  }

}

@keyframes inFadeIn{
  0%{
    opacity: 0;
    transform: translateY(0);
  }
  100%{
    opacity: 1;
    visibility: visible;
  }
}

@keyframes inFadeOut{
  100%{
    opacity: 0;
  }
}
@keyframes inOverlowTopIn{
  100%{
    transform: translateY(0);
  }
}
@keyframes inOverlowTopOut{
  100%{
    transform: translateY(210%);
  }
}

.clip-text{
  position: relative;
  display: block;
  text-align: right;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no-list{
  list-style: none;
  margin: 0;
  padding:0;

  li{
    padding: 5px 0;
    margin: 0;
  }
}

.h2{
  font-size: 56px;
  font-family: "lust-display-didone";
  line-height: 0.85em;

}
.h1{
  font-size: 58px;
  line-height: 0.85em;
  margin-bottom: 10px;
  font-family: "lust-display-didone";

  @media (min-width: 800px) {
    font-size: 90px;
    line-height: 0.65em;
    margin-bottom: 45px;
  }
  .h1--pre{
    display: block;
    font-size: 0.35em;
  }
}
.slide-out .intro-desc{
  animation: inFadeOut 1s 600ms 1 forwards;
}
.slide-in .intro-desc{
  animation-delay: 1.6s;
}
.intro-desc{
  font-size: 18px;
  color: #fff;
  margin: 0;
  margin-bottom: 40px;
  max-width: 600px;
  animation: inFadeIn 1s 600ms 1 forwards;
  opacity: 0;
  @media (min-width: 800px) {
    font-size: 28px;
  }
}

.answer{
  font-size: 15px;
  a{
    color: inherit;;
  }
}
.writings-list,.project-grid{
  list-style: none;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 18px;
}
.project-grid{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.project-grid-li{
  width: 100%;
  text-align: left;

  a{
    padding: 8px 6px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    font-family: "brandon-grotesque", serif;
    color: #262626;
    font-weight: 800;
    span{
      position: relative;
      display: block;
      transition: transform 300ms, opacity 400ms;
      transform-origin: 50% 50%;
    }
    .description{
      height: 0;
      width: 0;
      overflow: hidden;
      font-size: 12px;
      font-family: "adobe-text-pro";
      opacity: 0;
      font-weight: 400;

    }
    &:hover{
      .title{
        transform: translateY(-6px);
        color: #fff;
      }
      .description{
        // height: auto;
        width: auto;
        overflow: visible;
        opacity: 1;
        transition-delay: 60ms;
        transform: translateY(-6px);
        white-space: nowrap;
        // overflow: hidden;
        text-overflow: ellipsis;
        font-style: italic;
        color: #fff;
      }
    }

  }
  // a:nth-child(even) {
  //   border-left: 0;
  // }
}
.writing-list-li{
  padding: 0;
  margin: 0;

  a{
    display: block;
    padding: 6px;
    margin: 0;
    color: inherit;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
    font-size: 14px;


    @media (min-width:900px) {
      font-size: inherit;
    }

    &:hover{
      &:after{
        transform: scale(1);
      }
    }
    &:after{
      position: absolute;
      content: '';
      height: 2px;
      background: rgba(2,2,5,0.4);
      width: 100%;
      left: 0;
      top: calc(50% - 1px);
      display: block;
      transform: scale(0,1);
      transform-origin: 0% 50%;
      transition: transform 300ms;
    }
  }
}

.slide-out .label.absolute {
  animation:none;
  transition: opacity 800ms;
  opacity: 0;
}
a.label{
  text-decoration: none;
  display: inline-block;
  &.after-line{
    &:hover{
      &:after{
        transform: translateX(-100%);
      }
    }
  }
}
.label{
  font-family: "aktiv-grotesk";
  font-weight: 700;
  color: #fff;
  display: inline-block;
  letter-spacing: 2px;
  font-size: 11px;
  padding: 6px 0;
  &.before-line{
    &:before{
      transition: transform 300ms;
      content: '';
      display: inline-block;
      height: 2px;
      background: rgba(#fff,0.6);
      margin:  3px;
      width: 50px;
    }
  }
  &.after-line{
    &:after{
      transition: transform 300ms;
      content: '';
      display: inline-block;
      height: 2px;
      background: rgba(#fff,0.6);
      margin:  3px;
      width: 50px;
    }
  }
  &.absolute{
    position: absolute;
    z-index: 3;
    opacity: 0;
    animation: inFadeIn 2s 1s 1 forwards;
  }
  a{
    color: inherit;
    text-decoration: none;
    transition: color 200ms;

    &:hover{
      color: rgba(255,255,255,0.7);
      .icon{
        opacity: 0.7;
      }
    }
  }
  .icon{
    height: 12px;
    position: relative;
    top: 1px;
    transition: opacity 200ms;
  }
  .icon-scroll{
    height: 22px;
    top: 4px;
  }
}
.slide-out .overflower{
  .in-overflower{
    animation: inOverlowTopOut 600ms 50ms 1 forwards ease-in-out;
    transform: translateY(0%);
    animation-delay: 0s !important;
  }
}
.slide-in .overflower{
  .in-overflower{
    animation-delay: 1s;
  }
  &.t-2x{
    .in-overflower{
      animation-delay: 1.2s;
    }
  }
  &.t-3x{
    .in-overflower{
      animation-delay: 1.3s;
    }
  }
  &.t-4x{
    .in-overflower{
      animation-delay: 1.4s;
    }
  }
  &.t-5x{
    .in-overflower{
      animation-delay: 1.5s;
    }
  }
  &.t-6x{
    .in-overflower{
      animation-delay: 1.6s;
    }
  }
  &.t-7x{
    .in-overflower{
      animation-delay: 1.7s;
    }
  }
  &.t-8x{
    .in-overflower{
      animation-delay: 1.8s;
    }
  }
}
.screen--right .screen-center .overflower{
  display: inline-block;
  @media (min-width: 600px) {
    display: inherit;
  }
}
.overflower{
  position: relative;
  overflow: hidden;
  padding: 0 10px;
  right: 10px;

  .in-overflower{
    animation: inOverlowTopIn 600ms 50ms 1 forwards ease-in-out;
    transform: translateY(210%);
  }
  &.t-2x{
    .in-overflower{
      animation-delay: 200ms;
    }
  }
  &.t-3x{
    .in-overflower{
      animation-delay: 300ms;
    }
  }
  &.t-4x{
    .in-overflower{
      animation-delay: 400ms;
    }
  }
  &.t-5x{
    .in-overflower{
      animation-delay: 500ms;
    }
  }
  &.t-6x{
    .in-overflower{
      animation-delay: 600ms;
    }
  }
  &.t-7x{
    .in-overflower{
      animation-delay: 700ms;
    }
  }
  &.t-8x{
    .in-overflower{
      animation-delay: 800ms;
    }
  }
  &.t-9x{
    .in-overflower{
      animation-delay: 900ms;
    }
  }
  &.t-10x{
    .in-overflower{
      animation-delay: 1000ms;
    }
  }
  &.t-11x{
    .in-overflower{
      animation-delay: 1100ms;
    }
  }
}

.push-left.scroller{
  z-index: 1;
}

.scroller{
  position: relative;
  z-index: 2;

  // transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 2.75);
}
